.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.default__layout-wrapper {
    display: flex;
}

.content {
    flex: 1;
    background-color: #999999;
    min-height: 1000px;
}

.btn {
    outline: none;
    border: none;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}
